<form action="{{ url_for("hello_world")}}" method="post"> 
<label for="city">City:</label> 
<input type="text" id="city" name="city" placeholder="City"> 
<label for="name">Name:</label> 
<input type="text" id="name" name="name" placeholder="Name"> 
<label for="domain">Domain:</label> 
<input type="text" id="domain" name="domain" placeholder="Domain"> 
<label for="email">Email:</label> 
<input type="email" id="email" name="email" placeholder="Email"> 
<label for="dob">DOB:</label> 
<input type="date" id="dob" name="dob" placeholder="DOB"> 
<label for="gender"> Gender:</label> 
<input type="text" id="gender" name="gender" placeholder="Gender"> 
<label for="mobile">Mobile:</label> 
<input type="text" id="mobile" name="mobile" placeholder="Mobile"> 
<label for="nationality">Nationality:</label> 
<input type="text" id="nationality" name="nationality" placeholder="Nationality"> 
<button type="submit">Login</button> 
